@import url("../styles.css");


.form {
    display: block;
    max-width: 50em;
    margin: 2.5em auto;
    border: 1px outset var(--black);
    padding: 50px 0px;
    border-radius: 12px;
}

.form h1 {
    margin: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    word-spacing: 100vw;
}

.form p {
    margin: 0;
    padding: 30px 0px 0px 10px;
    font-weight: bold;
    font-size: 1em;
}

.form #date {
    font-weight: bold;
}

.form-element {
    display: inline-block;
    padding: 30px 10px 0px 10px;
    font-weight: bold;
    font-size: 1em;
    width: 100%;
}

.form-element input {
    float: right;
    width: 65%;
}

.radio_btn {
    padding: 0px 20px;
    font-size: .75em;
}

.btn {
    margin: auto;
    text-align: center;
    display: inline-flex;
    font-weight: bold;
    width: 100%;
}

.btn input {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.btn-primary {
    margin: 30px 0px 0px 10px;
    background-color: var(--green);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--orange);
    color: var(--black);
    font-weight: bold;
}

.btn-secondary {
    margin: 30px 10px 0px 5px;
    background-color: var(--white);
    border: 1px solid var(--green);
    color: var(--green);
}

.btn-secondary:hover {
    background-color: rgba(255, 165, 0, 0.1);
    border: 1px solid var(--green);
    color: var(--green);
}