.form {  
    display: block;
    margin: 2.5em auto;
    border: 1px outset var(--black);   
    padding: 50px 0px;
    border-radius: 12px;
    max-width: 50em;
} 

.form p {
    margin: 0;
    padding: 20px 0px 0px 10px;
    font-weight: bold;
}

.form h1 {
    text-align: center;
    margin: 5px;
}

.form-element {
    display: inline-block;
    padding: 20px 0px 0px 10px;
    width: 160px;
    font-weight: bold;  
}

.radio_button_setup{
    padding-left: 10px;
}
.btn {
}


.btn-primary {
    margin-top: 20px;
    margin-left: 10px; 
    padding: 10px;
    width: 185px;
    font-size: 16px; 
    background-color: var(--green);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--orange);
    color: var(--black);
}

.btn-secondary {
    padding: 10px;
    width: 185px;  
    font-size: 16px;   
    background-color: var(--white);
    border: 1px solid var(--green);
    color: var(--green); 
}

.btn-secondary:hover {
    background-color: rgba(255, 165, 0, 0.1);
    border: 1px solid var(--green);
    color: var(--green);
}

