#loading {
  width: 80px;
  height: 80px;
}

.figure {
  border: 0.5rem solid var(--white);
}

.figure:hover {
  border: 0.5rem solid var(--purple);
  background-color: var(--purple);
  color: var(--white);
}

.eachDrink {
  background-color: unset;
  width: 210px;
  height: 270px;
}

p {
  margin-top: 5px;
  font-weight: bolder;
  font-size: 100%;
}

.card, .card-img-top {
  border-radius: unset;
}

h1 {

  font-weight: bolder;
}